# fmt.Println
snippet pp "fmt.Println(...)"
fmt.Println(${1:var})
endsnippet

# fmt.Printf
snippet pf "fmt.Printf(...)"
fmt.Printf("%v \n", ${1:var})
endsnippet

# error handler
snippet ee "if err != nil {...}"
if err != nil {
	${0}
}
endsnippet

# exit
snippet exit "os.Exit(1)"
os.Exit(1)
endsnippet

# defer func
snippet df "defer func() { ... }"
defer func() {
	${0}
}()
endsnippet

# debug
snippet debug "fmt.Printf( ... )"
fmt.Printf("%+v \n", ${1:var})
os.Exit(1)
endsnippet
